.socials{
	margin-top: 5px;
	overflow: hidden;
	height: 30px;
	margin-bottom: 5px;
}

.fb-like
{
	float: right;
	width: 52px;
	overflow: hidden;
}

.videoThumb {
	margin-bottom: 2%;
}

.videoImageContainer {
	
}

.videoImageContainer img {
	
}

.videoTitle {
	background-color: $_dark_grey;
	color: white;
	text-transform: uppercase;
	padding: 10px 10px 5px 10px;
	font-size: 1.15em;
	margin-top: -4px;
}

.videoText {
	font-size: 1.25em;
	padding: 10px 10px 5px 10px;
	min-height: 120px;
	line-height: 1.3em;
}

.blue {
	background-color:  $_thumbs_blue;
}

.grey {
	background-color:  $_thumbs_grey;
}

.pink {
	background-color:  $_thumbs_pink;
}

.three {
	@include rColumn(3, 1, 3);
}

.two {
	@include rColumn(2, 1, 3);
}

.noRightMargin {
	margin-right: 0;
}

.noMarginLeft {
	margin-left: 0;
}