.error{
    min-height: 400px;
    margin-top : 40px;
    h1{
        font-size: 34px;
        color: $_red;
    }
    
    div{
                font-size: 24px;
                margin: 10px auto;
                width:auto;
    }
}
