#flexHeader {
	position: relative;
}

#headerLogo{
	margin-top: 20px;
	margin-bottom: 20px;
}

#headerInfo {
	position: absolute;
	bottom: 20px;
	right: 0px;
	text-align: right;
}

.headerInfoTitle {
	color: $_dark_grey;
	font-size: 36px;
}

.headerInfoSubTitle {
	color: $_red;
}