
.footerLine {
	color:#FFF;
	background-color:#333;
	padding:50px;
	text-align:center;

}

.temp {
height:500px;
	background-color:#E14;

}

#resume {
	border-bottom: #EEE solid 1px;
	padding-bottom: 50px;
	margin-top: 5%;
	text-align:justify;

	.span3 {
		width:230px;
	
	
	}
}

.googleMap {
	margin:0 0 50px 0;
	
	iframe {
	border: 1px solid #0CBCB3;
	
	}


}

.hero-unit {
	text-align:center;
	padding:70px;

}

.filters {
	
	ul{

		li {
		display:inline;
		}
	}
}

	
.filterText {

	float: left;
	margin-right: 10px;
}

.row {
	
	&.lastPosts {
	
		border-bottom: #EEE solid 1px;
		padding-bottom:50px;
	}
	
	&.aboutHead {
	
		border-bottom: #EEE solid 1px;
		padding-bottom:50px;
	
	}
	
	&.aboutTeam {
		padding-top:50px;
		margin-bottom: 60px;

			img {
				margin-bottom:10px;
		}
	}
	
	&.portfolio {
		
		margin-left:3px;
		margin:50px 0 100px 0;
		
		.span4 {
			margin-left:10px;
		
		}
	}
	
	
	.infoContact {
		font-weight:bold;
		
		p {
			margin:10px 0 0 65px;
		
		}
	}
	
	.inputForm {	
		margin-bottom:50px;
		
		label {
		color:#0CBCB3;
		font-weight:bold;
		margin-top:5px;
		width:100px;
		float:left;
		
		}
		
		input {
			border:1px solid #666;
			width:70%;

		
		}
		
		textarea {
			border:1px solid #666;		
			width:70%;
		}
	}
	
	.alert {
		text-align:center;
	
	}


}


#accrocheArea {


	.accrocheContent{
	text-align:center;
	margin:40px 0 0 0;
	padding:40px;
	background-color:#EEE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	
	}
}


.footerLine {
	height:50px;
	padding-top:20px;



}