body {
	background-color: white;
}

#container{
	position: relative;
}

#header {
	@include center;
	
	border-bottom: solid $_red 15px !important;
	display: block;
}

#content {
	@include center;
	background: transparent url(../assets/layout/bg.grey.to.white.jpg)left top repeat-x;
	//margin-bottom: 192px;
	display: block;
}


#footer {
	
height: 192px;
  background: $_light_grey;
  color: $_dark_grey;
  //line-height: 1.5em;
  width: 100%;
  display: block;;
}

.flex{
	@include wrapper;
	width: 100%;
	max-width: 960px;
}


// FOOTER
//@include sticky-footer(192px, "#container", "#footer", "#footer");


@media screen and ( max-width: get_width(12, false) ) {
	.flex {
		width: 92%;
		margin-left: 4%;
		margin-right: 4%;
	}
}