.footerLine {
	border-top: #666 3px solid;
	padding:10px 0 0 0;
	margin:50px 0 0 0;

}

.temp {
height:500px;
	background-color:#E14;

}

#resume {

margin-top: 5%;
	text-align:justify;

	.span3 {
		width:230px;
	
	
	}
}

.row {
	
	&.lastPosts {
	
		border-bottom: #EEE solid 1px;
		padding-bottom:50px;
	}
	
	&.aboutHead {
	
		border-bottom: #EEE solid 1px;
		padding-bottom:50px;
	
	}
	
	&.aboutTeam {
		padding-top:50px;
	
	
	}


}


#accrocheArea {


	.accrocheContent{
	margin:40px 0 0 0;
	padding:100px;
	background-color:#EEE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	
	}
}


.footerLine {
	height:50px;
	padding-top:20px;



}