body {
	font-size: 12px;
	font-family: 'tradegothic', sans-serif;
}

a{
	text-decoration: none;
	color:$_red;
}

.mediumFontSize{
	font-size: 20px;
}

.smallFontSize{
	font-size: 10px;
}


@media screen and ( max-width: get_width(8, false) ) {
	
}

@media screen and ( min-width:  get_width(8, false) ) and ( max-width: get_width(10, false) ) {
	
}