/* texts.scss */

body {
font-family: 'Strait', sans-serif;
}

i {
font-size:20px;

	.icon-map-marker {
	background-position: 0px -1px;

	}
	
}



input {

		&[type="button"] {
			font-family: 'Strait', sans-serif;
		
		}
}

#resume {

		.secondaryTitle {
			margin-bottom:50px;
		}

}

li {
		display:inline-block;
		text-align:center;
		
		&.current-menu-item {

			font-style:italic;
			
			a {
			color:#0CBCB3;
			
			}

		}
		
		a {
			color:#999; 
		
			&:hover {
				color:#FFF;
			}

		}
}

.blueText {
	color:#0CBCB3;

}

.calDate {
	font-size: 40px;
	color:#0CBCB3;
	font-style:italic;


}

.filters {
	a:hover {
		color:#0CBCB3;
	
	}

}

.filterText {
	color:#0CBCB3;
	font-weight:bold;
}

#accrocheArea {


	.accrocheContent{
		
		h1{	
			font-size:36px;
		}
	}
}
