body {
font-family: 'Strait', sans-serif;

}

#resume {

		.secondaryTitle {
			margin-bottom:50px;
		}

}


.blueText {
	color:#0CBCB3;

}

.filterText {
	color:#0CBCB3;
	font-weight:bold;


}

#accrocheArea {


	.accrocheContent{
		
		h1{	
			font-size:36px;
		}
	}
}
